<!-- <p>add-product works!</p>
<button type="button" class="btn btn-success" (click)="addProduct()">Save</button> -->

<div class="text-danger">
  <h3>To be Removed [for test]:</h3>
  <div>
  {{newPrd | json}}
  </div>
</div>
<div>
  <!-- {{prdNameInp.className}} -->
  {{prdNameInp.errors}}
</div>

<hr>
<form #prdForm="ngForm" (submit)="addProduct()">
  <div class="form-group">
    <label for="pName">Product Name</label>
    <input #prdNameInp="ngModel" type="text" class="form-control" id="pName" name="prdname"[(ngModel)]="newPrd.name" required pattern="[A-Za-z](3,)">
    <div [hidden]="prdNameInp.valid || prdNameInp.untouched">
       <small *ngIf="prdNameInp.errors?.['required']" class="alert alert-warning">Name is required </small><br>
    <small *ngIf="prdNameInp.errors?.['pattern']" class="alert alert-warning">Name Must be 3 letters at least</small>
    </div>

  </div>
  <div class="form-group">
    <label for="pPrice">Product Price</label>
    <input type="number" class="form-control" id="pPrice" name="prdprice"[(ngModel)]="newPrd.price">
  </div>
  <div class="form-group">
    <label for="pQuantity">Product Quantity</label>
    <input type="number" class="form-control" id="pQuantity" name="prdquantity"[(ngModel)]="newPrd.quantity">
  </div>
  <div class="form-group">
    <label for="prdCAt">Product Quantity</label>
    <select name="cat" id="prdCat" class="form-select" name="prdcatid"[(ngModel)]="newPrd.categoryID">
    <option value="0" selected>All</option>
    <option *ngFor = "let cat of catList" [value]="cat.id">{{cat.name}}</option>
  </select>
  </div>
    <div class="form-group">
    <label for="pImg">Product Image</label>
    <input type="file" class="form-control" id="pImg" name="prdimg"[(ngModel)]="newPrd.imgURL">
  </div>
  <button [disabled]="prdForm.invalid" type="submit" class="btn btn-primary">Submit</button>
</form>
